[submodule "bibliotheque"]
	path = bibliotheque
	url = https://github.com/ludorii/bibliotheque.git
[submodule "autrenom"]
	path = autrenom
	url = https://github.com/ludorii/bibliotheque.git
[submodule "module_bibliotheque"]
	path = module_bibliotheque
	url = https://github.com/ludorii/bibliotheque.git
